.register-body{
 
        /* background-color: #B2AFAB; */
        /* background-position: center center; */
        /* background-size: cover; */
        min-height: 100vh;
        max-height: 999px;
        /* overflow: hidden; */
        position: relative;
        width: 100%;
        /* z-index: 1; */
        /* display: flex; */
        align-items: end;
        /* justify-content: center; */
        /* bottom: -135px; */
        top: 100px;
        /* padding: 20px; */
   color:black;
}

.register-heading{
    text-align: center;
    width: 100vw;
}
.register-typeVendor-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.register-typeVendor{
  margin-top: 20px;
}

.card-register-custom{
  max-width: none !important;
  min-height: none !important;
}
.m-r-20{
  margin-right: 20px !important;
}

.m-l-40{
  margin-left: 40px !important;
}
.register-submit-btn{
  width: 300px !important;
  margin: auto !important;
  margin-top: 35px!important;
  margin-bottom: 35px!important;

}
.mr-100{
  margin-left: 100px;
}

.input-field-label{
  text-align: right !important;
}
.m-b-20{
  margin-bottom: 20px !important;
}
.m-b-40{
  margin-bottom: 40px !important;
}

.page-header-banner{
  background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 65vh !important;
    max-height: 594px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 55px !important;
}

.m-t-20{
  margin-top: 20px;
}
.m-t-50{
  margin-top: 50px;
}

.d-none{
  display: none;
}

.show-more-btn-landing{
  margin: auto;
  margin-top: 20px;
}

.landing-features-ol{
  font-size: 12px !important;
  text-align: left !important;
  color: white !important;
}
.bg-blue{
  background-color: #1b8dce !important;
}

.footprint-landing{
  text-align: center;
}

.border-radius-none{
  border-radius: 0px !important;
}

.navbar-header-txt{
  font-weight: 600 !important;
    margin: 5px 0px !important;
    padding: 10px 10px !important;
    font-size: 20px !important;
    color: #66615B !important;
    text-transform: uppercase !important;
}

.addmore-prod-btn{
  position: relative;
  left: 7px;
}

.semi-bold{
  font-weight: 400;
}
.bdr-1{
  border-top: 1px solid #ffffff6b;
}

.m-t-100{
  margin-top: 100px;
}
.txt-center{
  text-align: center;
}

.m-t-80{
  margin-top: 80px;
}

.m-t-50{
  margin-top: 50px;
}

.m-b-30{
  margin-bottom: 30px;
}